<nav class="navbar navbar-light mb-3">
  <!--left side-->
  <ul class="nav w-50">
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacts-list" routerLinkActive="active">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/manage-contact" routerLinkActive="active">Manage contacts</a>
    </li>
  </ul>

  <!--right side-->
  <ul class="nav w-50">
    <li class="nav-item ml-auto">
      <a class="nav-link" routerLink="/contact-form" routerLinkActive="active">Add a contact</a>
    </li>

    <li class="nav-item ml-auto">
      <a class="nav-link" routerLink="/" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>