<div class="row p-2" *ngIf="contacts && contacts.length > 0">
  <div class="col-sm-6 mb-4" *ngFor="let contact of contacts">
    <div class="card bg-white">
      <div class="card-body">
        <h5 class="card-title">{{ contact.firstName }} {{ contact.lastName }}</h5>
        <p class="card-text">{{ contact.email }}, {{ contact.country }}</p>
        <a routerLink="/manage-contact" class="btn btn-primary">Manage Contact</a>
      </div>
    </div>
  </div>
</div>

<p class="alert alert-success text-center w-75 m-auto"
   *ngIf="contacts && contacts.length === 0"
>You have not any contacts!</p>