<div class="row p-2" *ngIf="contacts && contacts.length > 0">
    <div class="col-sm-6 mb-4" *ngFor="let contact of contacts; let i = index">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ contact.firstName }} {{ contact.lastName }}</h5>
                <p class="card-text">{{ contact.email }}, {{ contact.country }}</p>
                <button type="button" class="btn btn-primary" [routerLink]="['/contact-form', {index: i}]" routerLinkActive="active">Edit</button>
                <button (click)="remove(i)" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<p class="alert alert-success text-center w-75 m-auto"
   *ngIf="contacts && contacts.length === 0"
>You have not any contacts!</p>

<p class="alert alert-danger position-absolute"
   style="top: 50%; left: 40%;"
   *ngIf="msg !== ''"
>Contact removed!</p>