<div class="container p-3" *ngIf="formSetedUp">
  <h3 *ngIf="formMode === 'signin'">Signin</h3>
  <h3 *ngIf="formMode === 'signup'">Signup</h3>

  <form [formGroup]="signForm" (ngSubmit)="onSubmit()">

    <!--Email-->
    <div class="form-group m-3">
      <label for="email">Email</label>
      <input class="form-control mb-5"
             type="text"
             id="email"
             formControlName="email"
             [ngClass]="{'empty': signForm.controls['email'].touched && !signForm.controls['email'].valid}">

      <!--Warning message to give feedback to the user-->
      <div *ngIf="signForm.controls['email'].touched">
        <p *ngIf="!signForm.controls['email'].valid" class="alert alert-danger">Please write a valid email!</p>
      </div>
    </div>

    <!--Password-->
    <div class="form-group m-3">
      <label for="password">Password</label>
      <input class="form-control mb-2"
             type="password"
             id="password"
             formControlName="password"
             [ngClass]="{'empty': signForm.controls['password'].touched && !signForm.controls['password'].valid}"
      >
      <!--Warning message to give feedback to the user-->
      <div *ngIf="signForm.controls['password'].touched">
        <p *ngIf="!signForm.controls['password'].valid" class="alert alert-danger">Please write a password of min 6 charaters!</p>
      </div>
    </div>


    <!--Repeat Password-->
    <div class="form-group m-3" *ngIf="formMode === 'signup'">
      <label for="repeatPassword">Repeat Password</label>
      <input class="form-control mb-2"
             type="password"
             id="repeatPassword"
             formControlName="repeatPassword"
             [ngClass]="{'empty': signForm.controls['repeatPassword'].touched && !signForm.controls['repeatPassword'].valid}"
      >
      <!--Warning message to give feedback to the user-->
      <div *ngIf="signForm.controls['repeatPassword'].touched">
        <p *ngIf="signForm.controls['password'].value !== signForm.controls['repeatPassword'].value" class="alert alert-danger">The passwords don't match!</p>
      </div>
    </div>


    <!--Submit button-->
    <div class="btn-group w-100" role="group">
      <!--submit button-->
      <button [disabled]="!signForm.valid" type="submit" class="btn btn-success">Submit</button>

      <!--switch to signup-->
      <button *ngIf="formMode === 'signin'"
              class="btn btn-link ml-auto"
              type="button" style="font-size: 14px;"
              (click)="setFormToSignup()"
      >Haven't an account yet?. Signup</button>

      <!--switch to signin-->
      <button *ngIf="formMode === 'signup'"
              class="btn btn-link ml-auto"
              type="button" style="font-size: 14px;"
              (click)="setFormToSignin()"
      >Have an account?. Signin</button>    </div>

  </form>

  <!--User feedback-->
  <p class="alert alert-danger mt-3" *ngIf="msg !== ''">{{ msg }}</p>
</div>

