<div class="container" *ngIf="formSetedUp">
    <h3 *ngIf="formMode === 'add'">Add Contact</h3>
    <h3 *ngIf="formMode === 'edit'">Edit Contact</h3>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

        <!--First name-->
        <div class="form-group m-3">
            <label for="firstName">First Name</label>
            <input class="form-control mb-2"
                   type="text"
                   id="firstName"
                   formControlName="firstName"
                   [ngClass]="{'empty': contactForm.controls['firstName'].touched && !contactForm.controls['firstName'].valid}"
            >
            <!--Warning message to give feedback to the user-->
            <div *ngIf="contactForm.controls['firstName'].touched">
                <p *ngIf="!contactForm.controls['firstName'].valid" class="alert alert-danger">Please write a name!</p>
            </div>
        </div>

        <!--Last name-->
        <div class="form-group m-3">
            <label for="lastName">Last Name</label>
            <input class="form-control mb-2"
                   type="text"
                   id="lastName"
                   formControlName="lastName"
                   [ngClass]="{'empty': contactForm.controls['lastName'].touched && !contactForm.controls['lastName'].valid}"
            >
            <!--Warning message to give feedback to the user-->
            <div *ngIf="contactForm.controls['lastName'].touched">
                <p *ngIf="!contactForm.controls['lastName'].valid" class="alert alert-danger">Please write a last name!</p>
            </div>
        </div>

        <!--Email-->
        <div class="form-group m-3">
            <label for="email">Email</label>
            <input class="form-control mb-5"
                   type="text"
                   id="email"
                   formControlName="email"
                   [ngClass]="{'empty': contactForm.controls['email'].touched && !contactForm.controls['email'].valid}">

            <!--Warning message to give feedback to the user-->
            <div *ngIf="contactForm.controls['email'].touched">
                <p *ngIf="!contactForm.controls['email'].valid" class="alert alert-danger">Please write a valid email!</p>
            </div>
        </div>

        <div class="form-group m-3">
            <!--Country selection-->
            <label for="country">Country</label>
            <select class="form-control mb-5"
                    formControlName="country"
                    id="country"
                    [ngClass]="{'empty': contactForm.controls['country'].touched && !contactForm.controls['country'].valid}"
            >
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
            </select>

            <!--Warning message to give feedback to the user-->
            <div *ngIf="contactForm.controls['country'].touched">
                <p *ngIf="!contactForm.controls['country'].valid" class="alert alert-danger">Please select a country!</p>
            </div>
        </div>

        <!--Submit button-->
        <button [disabled]="!contactForm.valid" type="submit" class="btn btn-success">Submit</button>

    </form>

    <!--User feedback-->
    <p class="alert alert-primary mt-3" *ngIf="msg !== ''">{{ msg }}</p>
</div>

